/* Reset default margin and padding */ 
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Style the table */
  table {
    width: 98%;
    border-collapse: collapse;
    border: 1px solid #000; /* Black border */
    max-width: 100%;
    margin: 20px auto;
  }
  
  /* Style table headers */
  th {
    padding: 8px;
    border-bottom: 1px solid #000; /* Black border */
    font-size: 15px; /* Adjust as needed */
  }
  
  /* Set text alignment to left for specified table headers */
  th[colspan="2"] {
    text-align: left;
  }
  
  /* Style table cells */
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #000; /* Black border */
    font-size: 17px; /* Adjust as needed */
  }
  
  /* Style select dropdowns */
  select {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px;
    font-size: 14px; /* Adjust as needed */
  }
  
  /* Style input fields */
  input[type="number"],
  input[type="text"] {
    width: calc(100% - 12px); /* Adjusting for padding */
    padding: 6px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px;
    font-size: 14px; /* Adjust as needed */
  }
  
  /* Style output cells */
  #basicPayOutput,
  #daOutput,
  #hraOutput,
  #taOutput,
  #SecretariatAllowanceOutput,
  #ccaOutput,
  #maOutput,
  #otherAllowancesOutput,
  #gross,
  #SubscriptionOutput,
  #DeductionsOutput,
  #netSalaryOutput {
    text-align: right;
  }
  
  /* Specific styles for Subscription and Deductions output */
  #SubscriptionOutput {
    color: green; /* Subscription output color */
  }
  
  #DeductionsOutput {
    color: darkbrown; /* Deductions output color */
  }
  
  /* Style for the buttons row */
  #buttons-row {
    text-align: center; /* Center align buttons */
  }
  
  /* Style for the buttons within the cell */
  #buttons-row button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db; /* Primary button color */
    color: #fff; /* Text color */
    transition: background-color 0.3s; /* Smooth transition */
  }
  
  /* Button hover effect */
  #buttons-row button:hover {
    background-color: #2980b9; /* Darker shade for hover effect */
  }
  
  /* Specific styles for the Calculate Net Salary button */
  button {
    padding: 10px 20px; /* Button padding */
    margin: 5px; /* Margin between buttons */
    font-size: 16px; /* Button font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    background-color: #2ecc71; /* Green background color */
    color: #fff; /* White text color */
    transition: background-color 0.3s; /* Transition for hover effect */
  }
  
  /* Button hover effect for Calculate Net Salary button */
  button:hover {
    background-color: #27ae60; /* Darker green for hover */
  }
  
    